<%= form_for @movie do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :category %>
<%= f.collection_select :category_id, Category.all, :id, :name %>

<p>Select the images that inspire you:</p>
<div>
  <%= hidden_field_tag 'movie[image_ids][]', nil %>
  <% @images.each do |image| %>
  <div>
    <%= check_box_tag('movie[image_ids][]', image.id, @movie.image_ids.include?(image.id), id: "image-#{image.id}") %>
    <label for=<%= "image-#{image.id}" %>><%= image_tag image.url, width: 100 %></label>
  </div>
  <% end %>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<%= f.submit %>

<% end %>
