<section class="movie-container">
  <section class="movie">
    <%= @movie.title %>
  </section>
  <section class="movie-side">
    <section class="movie-description">
      <%= @movie.description %><br>
      Total Ratings: <%= @movie.total_rating %><br>
      <%= button_to "Upvote", movie_ratings_path(@movie) %><br>
      <% @movie.images.each do |image| %>
        <img src="<%= image.url %>">
      <% end %>
    </section>
    <%= render partial: "utility" if user_owned? %>
  </section>
</section>
