<section class="form-container">
  <%= form_for @category do |f| %>

  <%= f.label :name %>
  <br>
  <%= f.text_field :name, :class => "form-field" %>

  <%= f.label :image %>
  <br>
  <%= f.text_field :image, :class => "form-field" %>

  <section class="submit-container">
    <%= f.submit :class => "submit-button" %>
  </section>

  <% end %>
</section>
